* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#wrapper {
  background: linear-gradient(#0000008f, #ff44003e), url("./image/cal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid black;
  color: rgb(219, 133, 28);
}
button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid black;
}
h2 {
  font-size: 30px;
  color: antiquewhite;
  text-shadow: 2px 2px 2px red;
  background: linear-gradient(rgba(0, 128, 0, 0.772), rgba(255, 166, 0, 0.772));
  /* width: 200px; */
  border-radius: 10px;
  text-align: center;
  padding: 5px 30px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.705);
  margin-top: 20px;
}
.drop {
  text-align: center;
  font-size: 20px;
}
